$brand: #ef5d5a;
:root,
html.dark {
  --c-brand: #ef5d5a;
  --c-brand-light: #ef5d5a;
}

$bg-nav: #7e3d5c;
$bg-nav-item: #3e4357;
$bg-nav-item-action: #585f7c;
$bg-nav-action: #9e5579;

$text-light: #000000;
$text-shade: #ffffff;
$text-strong: #b05b89;

$border-nav: #000000;