$brand: #ef5d5a;
:root,
html.dark {
  --c-brand: #ef5d5a;
  --c-brand-light: #ef5d5a;
}

$bg-light: #ffffff;
$bg-shade: #000000;
$bg-primary: #7e3d5c;
$bg-primary-action: #9e5579;
$bg-secondary: #3e4357;
$bg-secondary-action: #585f7c;
$bg-nav: $bg-primary;
$bg-nav-action: $bg-primary-action;
$bg-nav-item: $bg-secondary;
$bg-nav-item-action: $bg-secondary-action;

$text-light: #000000;
$text-shade: #ffffff;
$text-strong: #b05b89;

$border: #000000;
$border-nav: $border;
$border-hero-button: $border;