@import "vars";

.badge {
  &.tip {
    color: $text-shade;
    background-color: $tip;
  }
  &.danger {
    color: $text-shade;
    background-color: $danger;
  }
  &.warning {
    color: $text-light;
    background-color: $warning;
  }
}